<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="de.adornis.Notifier"
          android:versionCode="1411147948"
          android:versionName="1.0">
    <uses-sdk android:targetSdkVersion="20"
              android:minSdkVersion="14" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera.flash" />

    <!-- persistent true only works for system apps -->
    <application android:icon="@drawable/icon"
                 android:label="@string/app_name"
                 android:persistent="true"
                 android:allowBackup="true"
                 android:name="de.adornis.Notifier.Notifier">
        <activity android:name=".MainInterface"
                  android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NoiseMakerActivity" />
        <activity android:name=".Preferences" />
        <activity android:name=".FirstStart" />
        <service android:name=".Listener" />
        <receiver android:name="de.adornis.Notifier.StartupReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
